.ph-checkbox {
  margin: 0.4rem;
}

.ph-ext {
  position: fixed;
  z-index: 1000;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-size: contain;
  background-image: url('https://raw.githubusercontent.com/pricehistoryid/chrome-price-history/master/assets/price-history-128.png');
  border-radius: 50px;
  border: none;
  box-shadow: 2px 2px 3px #999;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding: 30vh 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-container {
  background-color: #fefefe;
  color: #000000;
  margin: auto;
  padding: 20px;
  width: 640px;
  min-width: 640px;
  height: 340px;
  min-height: 340px;
  overflow: auto;
  cursor: default;
  box-sizing: border-box;
}

.modal-header {
  padding: 12px 0px;
}

.modal-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;  
  justify-content: space-between;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}